---
import { storyblokEditable } from "@storyblok/astro";
import { Image } from "astro:assets";

const { blok } = Astro.props;
const { name, job, testimonial: text, image } = blok.content;
---

<div
  class="not-prose rounded-xl bg-primary-content p-8 shadow-lg"
  {...storyblokEditable(blok)}
>
  <div class="flex items-center space-x-4">
    <div class="avatar">
      <div class="h-32 w-32 rounded-full">
        <Image width={128} height={128} src={image.filename} alt={name} />
      </div>
    </div>
    <div class="flex flex-col">
      <h2 class="text-2xl font-bold text-primary">
        {name}
      </h2>
      <div class="italic">
        {job}
      </div>
    </div>
  </div>
  <hr class="my-8 border-neutral" />
  <div>
    {text}
  </div>
</div>
